* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

h1 {
	text-align: center;
	padding-top: 0.8rem;
	padding-bottom: 2rem;
}

#succeed-info .card {
	display: inline;
	vertical-align: top;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info .succeed-info-card {
	padding-bottom: 1rem;
}


#pre-footer {
	background-color: #002540;
}

#pre-footer .class {
	padding-left: .5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: inline-block;
	vertical-align: bottom;
	min-height: 25px;
	width: 20%;
	color: white;
	line-height: 1.8rem;
}

footer {
	padding-top: 0.8rem;
	padding-left: 0.8rem;
}




